@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200&family=Roboto:ital,wght@1,100&display=swap');



*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Poppins', sans-serif;

}


header {
  background: url(https://images.pexels.com/photos/7524996/pexels-photo-7524996.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  padding: 3.5rem 1em;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  font-size: 18px;
  
}


.view-selector {
  color: rgb(26, 1, 1);
  border: 3px solid;
  border-color: orangered;
  font-weight: 10em;
  background-color: rgb(255, 247, 242);
  padding: 1em 2em;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
}

.search {
  /* background-color: transparent; */
  height: 50px;
  border: 3px solid;
  border-color: orangered;
  background-color: rgb(255, 247, 242);
  border-radius: 50px;
  font-family: inherit;
  display: inline-block; 
  font-size: 18px;
  padding: 2em 2em;
  font-weight: bold;
}


.search::placeholder {
  color: rgb(0, 0, 0);
  font-weight: bolder;
 
}

.search:focus {
  outline: none;
}


main {
  display: flex;
  flex-wrap: wrap;
}


table {
  /* box-sizing: border-box; */
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  background-color:white;
}

th, td {
  width: 1%;
  height: 50px;
  border: 1px solid #ddd;
  text-align: center;
  border-bottom: 1px solid #ddd;
}


th {
  position: sticky;
  top: 0;
  padding: 0.5em 1em, ;
  background-color: rgb(36, 35, 35);
  color:orangered;
  font-size: 18px;

  text-transform: uppercase;
}

th:hover{
 background-color: orangered;
 color: black;

}

.hero img {
  width: 100px;
  border-radius: 10px;
}


th[data-sort] {
  cursor: pointer;
}


ul {
  height: 70px;
  padding: 15px 30px;
  font-size: 20px;
  width: auto;
  display: inline-block;
  justify-content: space-around;
  align-items: center;
}

.btn{
  display: inline-block; 
  list-style: none;
  padding: 15px 30px;
  font-size: 20px;
  text-transform:uppercase;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: orangered;
  color: black;

}


.btn:hover{
  background-color: rgb(36, 35, 35);
  color: orangered;
}

a {
  text-decoration: none;
}